.no-link {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bot-img {
    max-height: 15rem;
    max-width: 15rem;
}
.action-button {
    margin-top: 2rem;
}
