.top-performers {
    padding-top: 1rem;
    position: relative;
}

.top-performers div {
    /*margin-top: 1.5rem;*/
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

@media (min-width: 992px) {
    .top-performers div {
        margin-top: 1.5rem;
    }
}

@media (max-width: 601px) {
    .top-performers {
        padding-top: 0;
        padding-bottom: 0;
    }

    .top-performers div {
        margin-top: 1.5rem;
    }
}

.top-performers div i {
    color: teal;
    margin-right: .5rem;
}

/*.top-performers:hover div i {*/
/*    color: teal;*/
/*}*/

.top-performers .top-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.top-performers .top-data {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

.top-performers .top-header {
    font-size: .8rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}
