.forgot-password {
    margin-top: 3rem;
}
.forgot-bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.full-width{
    width: 100%;
}
.forgot-password .bot-img {
    height: 8rem;
    max-height: 8rem;
    max-width: 8rem;
    padding-bottom: .8rem
;
}
.forgot-title {
    font-weight: 400 !important;
}
