
.dashboard-page {
    /*    min-height: 56px;
*/
    height:  calc(100vh - 56px);
    min-height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
    /*width:100vw;*/
    /*overflow: hidden;*/
}
@media only screen and (min-width: 601px) {
    /*        height: calc(40vh - 64px);

*/
    .dashboard-page {
        height: calc(100vh - 64px);
        min-height: calc(100vh - 64px);
        max-height: calc(100vh - 64px);
    }
}
.empty .container {
    /*width: 100%;*/
    height:25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dashboard-page .individual-stats{
    margin-bottom: 0;
}
.dashboard-heading {
    padding: 0 0.75rem;
    display: flex;
    justify-content: start;
    align-items: start;
    /*gap: 1rem;*/
    margin-bottom:0;
}
.dashboard-heading h4 {
    margin-top: 1.75rem;
}
.dashboard-heading select {

    margin: 1.5rem 0 1rem 0.75rem;
    border: none;
    font-size: 2rem !important;
    color: #26a69a;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    /*width: 100%;*/
    padding: 0;


}
.dashboard-heading select:focus{
    border-bottom: 1px solid #26a69a;
}
.dashboard-heading select option {
    border: none;
    font-size: 1.5rem;
    background: none !important;
}
.dashboard-heading select option:hover,option:focus {
    border: none;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.08) !important;
}
.dashboard-page .two-weeks-stat {
    position: relative;
    height: calc((100vh - 64px -  4.508rem)*0.4);
    /*height: calc(40vh - 64px - 4.508rem)*/
    /*height: calc(40vh - 64px);*/
    min-height: 22.5rem;
}

